<!DOCTYPE html>

<html class="no-js" lang="en" ng-app="rex" ng-controller="AppCtrl as AppCtrl">
<head>
  <meta charset="utf-8">

  <base href="/">

  <title ng-bind="AppCtrl.title">ReX</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#00A99D">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#00A99D">


  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/app.css">
  <!-- endbuild -->
</head>

<body>
<div
  class="alert"
  ng-class="'alert-' + alert.type"
  ng-cloak
  ng-if="alert.visible"
  role="alert"
  ng-bind-html="alert.msg"
  ng-click="hideAlert()"
  ></div>

<div autoscroll="true" ui-view>


  <!-- Google Analytics-->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64739228-1', 'auto');
    ga('send', 'pageview');

  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/fastclick/lib/fastclick.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,client}) scripts/scripts.js -->
  <script src="app.js"></script>

  <!-- injector:js -->
  <script src="app/components/app-footer/app-footer.directive.js"></script>
  <script src="app/components/app-header/app-header.directive.js"></script>
  <script src="app/components/app-section/app-section.directive.js"></script>
  <script src="app/components/back-button/back-button.directive.js"></script>
  <script src="app/components/card-fade/card-fade.directive.js"></script>
  <script src="app/components/card/card.directive.js"></script>
  <script src="app/components/drug-card/drug-card.directive.js"></script>
  <script src="app/components/drug-tabs/drug-tabs.directive.js"></script>
  <script src="app/components/plus-button/plus-button.directive.js"></script>
  <script src="app/components/rex-autofocus/rex-autofocus.directive.js"></script>
  <script src="app/components/search-input/search-input.directive.js"></script>
  <script src="app/components/user-icon/user-icon.directive.js"></script>
  <script src="app/services/CONST/CONST.constant.js"></script>
  <script src="app/services/drug/drug.factory.js"></script>
  <script src="app/services/modals/modals.factory.js"></script>
  <script src="app/services/notify/notify.factory.js"></script>
  <script src="app/services/user/user.factory.js"></script>
  <script src="app/services/util/util.factory.js"></script>
  <script src="app/views/add-drug-modal/add-drug-modal.controller.js"></script>
  <script src="app/views/add-drug-modal/add-drug-modal.route.js"></script>
  <script src="app/views/app/app.controller.js"></script>
  <script src="app/views/cabinet/cabinet.controller.js"></script>
  <script src="app/views/cabinet/cabinet.route.js"></script>
  <script src="app/views/drug-profile/drug-profile.controller.js"></script>
  <script src="app/views/drug-profile/drug-profile.route.js"></script>
  <script src="app/views/drug-profile/pregnancy/pregnancy.controller.js"></script>
  <script src="app/views/drug-profile/pregnancy/pregnancy.route.js"></script>
  <script src="app/views/drug-profile/recalls/recalls.controller.js"></script>
  <script src="app/views/drug-profile/recalls/recalls.route.js"></script>
  <script src="app/views/drug-profile/uses/uses.controller.js"></script>
  <script src="app/views/drug-profile/uses/uses.route.js"></script>
  <script src="app/views/drug-profile/warnings/warnings.controller.js"></script>
  <script src="app/views/drug-profile/warnings/warnings.route.js"></script>
  <script src="app/views/home/home.controller.js"></script>
  <script src="app/views/home/home.router.js"></script>
  <script src="app/views/login/login.controller.js"></script>
  <script src="app/views/login/login.route.js"></script>
  <script src="app/views/main/main.controller.js"></script>
  <script src="app/views/main/main.router.js"></script>
  <script src="app/views/remove-drug-modal/remove-drug-modal.controller.js"></script>
  <script src="app/views/search/search-results/search-results.controller.js"></script>
  <script src="app/views/search/search-results/search-results.route.js"></script>
  <script src="app/views/search/search.controller.js"></script>
  <script src="app/views/search/search.route.js"></script>
  <script src="app/views/sign-up/sign-up.controller.js"></script>
  <script src="app/views/sign-up/sign-up.route.js"></script>
  <script src="app/views/user-profile/user-profile.controller.js"></script>
  <script src="app/views/user-profile/user-profile.route.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->
</body>
</html>
