.drug-profile {
  .card-fade {
    padding: 20px 40px 100px 40px;
  }

  .drug-alert {
    display: none;
  }
  
  .display-alert {
    .card-fade {
      padding-top: 40px;
    }

    .drug-alert {
      background: $scarlet;
      border-top-right-radius: $card-border-radius;
      border-top-left-radius: $card-border-radius;
      color: #fff;
      display: block;
      padding: 8px 12px;
      position: absolute;
      z-index: 1;
      top: -54px;
      left: 15px;
      right: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  h1 {
    color: $fontGray;
  }

  p {
    font-weight: 300;
  }

  .loader {
    margin-top: 9%;
  }

  .rex-button {
    width: 250px;
  }

  .cabinet-buttons {
    .add {
      display: inline-block;
    }

    .in {
      display: none;
    }

    &.in-cabinet {
      .add {
        display: none;
      }

      .in {
        display: inline-block;
      }
    }
  }

  &.search-results {
    .card {
      padding: 20px 0;
    }

    hr {
      width: 100%;
      margin: 0;
    }

    .card-section {
      padding: 0 30px 20px 30px;

    }

    .back-button {
      margin: 15px 0;
    }

  }
}

@media #{$lessThanSmall} {
  .drug-profile {
    h1 {
      text-align: center;
    }

    .card-fade {
      padding: 20px 20px 100px 20px;
    }

    .card {
      padding: 20px;
    }

    .rex-button {
      width: 100%;
      margin: 25px 0;
    }

    .display-alert {
      .drug-alert {
        .icon-ic-pregnancy {
          margin-left: -70px;
        }

        h3 {
          font-size: 1.3em;
          margin-top: 0;
        }

        p {
          display: none;
        }
      }
    }
  }
}
