.drug-profile {
  .card-fade {
    padding: 20px 40px 100px 40px;
  }

  .drug-alert {
    background: $scarlet;
    border-top-right-radius: $card-border-radius;
    border-top-left-radius: $card-border-radius;
    color: #fff;
    display: none;
    padding: 8px 12px;
    position: absolute;
    z-index: 1;
    top: -54px;
    left: 15px;
    right: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .display-alert {
    .card-fade {
      padding-top: 40px;
    }

    .drug-alert {
      display: block;
    }
  }

  h1 {
    color: $fontGray;
    font-size: 2.5em;
  }

  p {
    font-weight: 300;
  }

  .loader {
    margin-top: 9%;
  }

  .rex-button {
    width: 250px;
  }

  .cabinet-buttons {
    .add {
      display: inline-block;
    }

    .in {
      display: none;
    }

    &.in-cabinet {
      .add {
        display: none;
      }

      .in {
        display: inline-block;
      }
    }
  }

  &.search-results {
    .display-alert {
      .card {
        padding-top: 40px;
      }

      .drug-alert {
        top: 53px;
      }
    }

    .card {
      padding: 20px 0;
    }

    hr {
      width: 100%;
      margin: 0;
    }

    .card-section {
      padding: 0 30px 20px 30px;

    }

    .back-button {
      margin: 15px 0;
    }

  }
}

@media #{$lessThanSmall} {
  .drug-profile {
    h1 {
      text-align: center;
    }

    .card-fade {
      padding: 20px 20px 100px 20px;
    }

    .card {
      padding: 20px;
    }

    .rex-button {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

@media #{$lessThanTablet} {
  .drug-profile {
    .drug-alert {
      top: 0;
    }
  }
}
