<section class="drug-profile profile-shared">
  <app-section class="bg-white page-top">
    <back-button></back-button>

    <div class="cabinet-buttons">
      <button tabindex="110" class="rex-button pull-right remove" ng-click="drugProfile.removeCabinetDrug($event, { name: drugProfile.drugName })">REMOVE FROM CABINET</button>
    </div>

    <h1>{{drugProfile.drugName}}</h1>

    <drug-tabs drug-name="drugProfile.drugName"></drug-tabs>
  </app-section>

  <app-section class="bg-pills" ng-class="{'display-alert': drugProfile.displayAlert}">
    <a ui-sref="main.drugProfile.pregnancy({name : drugProfile.drugName})" class="drug-alert">
      {{ drugProfile.drugData.pregnancy_or_breast_feeding ? drugProfile.drugData.pregnancy_or_breast_feeding[0] : 'No data available.' }}
    </a>

    <card-fade class="overlap clearfix">
      <div ui-view></div>
    </card-fade>

    <div class="clearfix"></div>

    <br>

  </app-section>
</section>
