<section class="drug-profile profile-shared">
  <app-section class="bg-white page-top">
    <back-button></back-button>

    <div  ng-if="drugProfile.isSearch" class="cabinet-buttons" ng-class="{'in-cabinet': drugProfile.inCabinet}">
      <button class="rex-button pull-right add" ng-click="drugProfile.addCabinetDrug({ name: drugProfile.drugName })">ADD TO MY CABINET</button>

      <button  class="rex-button pull-right in" disabled>IN CABINET</button>
    </div>

    <div ng-if="!drugProfile.isSearch && drugProfile.inCabinet" class="cabinet-buttons">
      <button class="rex-button pull-right remove" ng-click="drugProfile.removeCabinetDrug({ name: drugProfile.drugName })">REMOVE FROM CABINET</button>

    </div>

    <h1>{{drugProfile.drugName}}</h1>

    <drug-tabs drug-name="drugProfile.drugName"></drug-tabs>
  </app-section>

  <app-section class="bg-pills">
    <card-fade class="overlap clearfix">
      <div ui-view></div>
    </card-fade>

    <div class="clearfix">
    </div>

    <br>

  </app-section>
  <app-section class="bg-lighter-gray">
    <hr class="thickest">
  </app-section>
</section>
