.drug-profile {
  .card-fade {
    padding: 20px 40px 100px 40px;
  }

  hr{
    width: 150px;
    margin: 50px auto;
  }

  .loader {
    margin-top: 9%;
  }

  .rex-button {
    width: 250px;
  }

  .cabinet-buttons {
    .add {
      display: inline-block;
    }

    .in {
      display: none;
    }

    &.in-cabinet {
      .add {
        display: none;
      }

      .in {
        display: inline-block;
      }
    }
  }

  &.search-results{
    .card{
      padding: 20px 30px;
    }

  }
}

@media #{$lessThanSmall} {
  .drug-profile {
    h1{
      text-align: center;
    }

    .card-fade {
      padding: 20px 20px 100px 20px;
    }

    .card{
      padding: 20px;
    }

    .rex-button {
      width: 100%;
      margin: 25px 0;
    }
  }
}
