$plus-button-cross-size: 32%;

.plus-button {
  transition: transform .2s;
  transform: rotate(0deg);

  background-color: $scarlet;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border-width: 0;
  position: relative;

  &::before {
    background: #fff;
    content: "";
    position: absolute;
    top:$plus-button-cross-size;
    bottom: $plus-button-cross-size;
    left: 50%;
    margin-left: -2px;
    display:inline;
    width: 4px;
  }

  &::after {
    background: #fff;
    content: "";
    position: absolute;
    top: 50%;
    left: $plus-button-cross-size;
    right: $plus-button-cross-size;
    margin-top: -2px;
    display:inline;
    height: 4px;
  }

  &.open {
    transform: rotate(45deg);
  }

  &.ng-click-active {
    background: $scarlet - 20;
  }
}