<div class="home">
  <div class="bg-image">
    <app-section class="text-center">
      <h3>What's in your medicine cabinet?</h3>
      <h2 class="boldest text-teal">Ask ReX.</h2>
      <hr class="thickest">
    </app-section>
  </div>

  <app-section class="bg-lighter-gray">
    <div class="row">
      <div class="col-sm-12">
        Keeping track of your family’s health has never been easier. With ReX, you have access to helpful information about the medicine you have in your home. ReX will alert you with personalized warnings and useful tips regarding the contents of your medicine cabinet. When it comes to you and your family’s well being, you can rely on ReX.      </div>
    </div>



    <div class="row extra-margin-top">
      <div class="col-sm-4">
        <card>
          <div class="text-font-gray bolder">How It Works</div>
          <p>
            Your profile customization and drug input enables ReX to provide you tailored warnings, relevant recalls, and further guidance about what’s within your own medicine cabinet.
          </p>
        </card>
      </div>
      <div class="col-sm-4">
        <card>
          <div class="text-font-gray bolder">Get Started</div>
          <p>
            Getting started is easy. Fill out your profile, inform us about your family members and medications, and leave the rest up to ReX.
          </p>
          <button type="button" class="btn rex-button" ui-sref="main.signUp">Sign Up</button>

        </card>
      </div>
      <div class="col-sm-4">
        <card>
          <div class="text-font-gray bolder">Already Have an Account?</div>
          <p>
            If you've already created an account, simply sign in to easily manage and monitor your medicine cabinet.
          </p>
          <button type="button" class="btn rex-button" ui-sref="main.login">Sign In</button>
        </card>
      </div>
    </div>
    <hr class="thickest extra-margin-top">
  </app-section>
</div>
