<div class="home">
  <div class="bg-image">
    <app-section class="text-center">
      <h3>What's in your medicine cabinet?</h3>

      <h2 class="boldest text-teal">Ask Rex.</h2>
      <hr class="thickest">
    </app-section>
  </div>


  <app-section class="bg-lighter-gray">
    <p class="row">
      Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor
      sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget
      urna mollis ornare vel eu leo.
    </p>

    <p class="row">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor
      fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>

    <div class="row extra-margin-top">
      <div class="col-sm-4">
        <card>
          <div class="text-font-gray bolder">How It Works</div>
          <p>
            Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo.
          </p>
        </card>
      </div>
      <div class="col-sm-4">
        <card>
          <div class="text-font-gray bolder">Get Started</div>
          <p>
            Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <button type="button" class="btn rex-button" ui-sref="main.signUp">Sign Up</button>

        </card>
      </div>
      <div class="col-sm-4">
        <card>
          <div class="text-font-gray bolder">Already have an account?</div>
          <p>Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <button type="button" class="btn rex-button" ui-sref="main.login">Sign In</button>
        </card>
      </div>
    </div>
    <hr class="thickest extra-margin-top">
  </app-section>
</div>
