// home.scss

.home {
  .bg-image {
    .app-section {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 50px 20px 10px 20px;
    }

    app-section {
      padding: 0;
      color: white;
    }
    hr {
      border-color: rgba(255, 255, 255, 0.4);
    }
  }

  .bg-lighter-gray, .bg-pills {
    padding: 80px 20px;
  }

  p.margin-bottom {
    margin-bottom: 40px;
  }

  hr {
    width: 148px;
  }

  .card {
    margin: 20px auto;
    height: 240px;
    border: 0px;
    position: relative;
    h4{
      font-weight: 400;
      font-size: 1.2em;
    }
    p {
      margin-top: 20px;
    }
    hr{
      margin-left: 0;
      margin-top: 15px;
      border-color: $lighterGray;
    }
    .rex-button {
      width: 100%;
      position: absolute;
      bottom: 0;
      left:0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      text-align: right;
      font-weight: 400;

      &.gray-button{
        background-color: $medGray;
        border-color: $medGray;

        &:hover,
        &:focus,
        &:active {
          background-color: $gray;
          border-color: $gray;
        }

      }
    }
  }
}

@media #{$lessThanBigScreen} {
  .home {
    .card {
      height: 260px;

    }
  }
}

@media #{$lessThanDesktop} {
  .home {
    .card {
      height: 320px;

    }
  }
}

@media #{$lessThanTablet} {
  .home {
    .card {
      height: 230px;
    }
  }
}

@media #{$lessThanSmall} {
  .home {
    .card {
      height: 240px;

    }

    .bg-lighter-gray, .bg-pills {
      padding: 35px 0;
    }
  }
}
