.search-results {

  .bg-lighter-gray, .bg-pills{
    min-height: 100px;
  }

  .bg-pills{
    min-height: 400px;
  }

  .results-card{
    margin-top: 20px;
  }

  .result{
    margin: 10px 0;
    border-bottom: solid 1px $lightGray;
    padding-bottom: 10px;
    padding-top: 5px;
    a{
      color: $teal;
      font-weight: 500;
      cursor: pointer;
      &:active,
      &:focus,
      &:hover{
        color: $darkTeal;
        text-decoration: none;
      }
    }
  }
}
