/* ------ Imports -----*/
@import '../../bower_components/bootstrap/dist/css/bootstrap.css';
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);
@import 'colors';
@import 'inputs';
@import 'sprites';
@import 'cards';

/** Text Styles **/

body{
  font-family: 'Roboto', sans-serif;
  color: $fontGray;
  font-size: 16px;
}

// injector
@import '../app/components/card-fade/card-fade.directive.scss';
@import '../app/components/card/card.directive.scss';
@import '../app/components/header/header.directive.scss';
@import '../app/views/about/about.view.scss';
@import '../app/views/home/home.view.scss';
@import '../app/views/login/login.style.scss';
@import '../app/views/main/main.view.scss';
// endinjector
