/* ------ Imports -----*/
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");

@import "mediaQueries";
@import "colors";
@import "inputs";
@import "backgrounds";
@import "sprites";
@import "mixins";
@import "alerts";
@import "layouts";
@import "text";
@import "shared/access-shared";
@import "shared/cards-shared";
@import "shared/profile-shared";
@import "modals";

[ui-view].ng-enter, [ui-view].ng-leave {
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
  display: none;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

@media #{$lessThanSmall} {
  .app-root[ui-view].ng-enter, [ui-view].ng-leave {
    transition:transform .3s linear;
    width: 100%;
    height: 100%;
    position: absolute;
    transform:translateX(0);
  }

  .app-root[ui-view].ng-enter {
    opacity: 1;
    z-index: 1;
    transform:translateX(-100%);
  }

  .app-root[ui-view].ng-enter-active {
    opacity: 1;
    transform:translateX(0);
  }

  .app-root[ui-view].ng-leave {
    opacity: 1;
    transform:translateX(0);
    display: block;
    z-index: 2;
  }

  .app-root[ui-view].ng-leave-active {
    opacity: 1;
    transform:translateX(100%);
  }
}

// injector
@import '../app/components/app-footer/app-footer.directive.scss';
@import '../app/components/app-header/app-header.directive.scss';
@import '../app/components/app-section/app-section.directive.scss';
@import '../app/components/back-button/back-button.directive.scss';
@import '../app/components/card-fade/card-fade.directive.scss';
@import '../app/components/card/card.directive.scss';
@import '../app/components/drug-card/drug-card.directive.scss';
@import '../app/components/drug-tabs/drug-tabs.directive.scss';
@import '../app/components/plus-button/plus-button.directive.scss';
@import '../app/components/search-input/search-input.directive.scss';
@import '../app/components/user-icon/user-icon.directive.scss';
@import '../app/views/add-drug-modal/add-drug-modal.style.scss';
@import '../app/views/cabinet/cabinet.style.scss';
@import '../app/views/drug-profile/drug-profile.style.scss';
@import '../app/views/drug-profile/pregnancy/pregnancy.style.scss';
@import '../app/views/drug-profile/recalls/recalls.style.scss';
@import '../app/views/drug-profile/uses/uses.style.scss';
@import '../app/views/drug-profile/warnings/warnings.style.scss';
@import '../app/views/home/home.view.scss';
@import '../app/views/login/login.style.scss';
@import '../app/views/main/main.view.scss';
@import '../app/views/remove-drug-modal/remove-drug-modal.style.scss';
@import '../app/views/search/search-results/search-results.style.scss';
@import '../app/views/search/search.style.scss';
@import '../app/views/sign-up/sign-up.style.scss';
@import '../app/views/user-profile/user-profile.style.scss';
// endinjector
