/** backgrounds **/
.bg-white {
  background-color: #fff;
}

.bg-lighter-gray {
  background-color: $lighterGray;

  //background-size: 100%;
  //width: 100%;
}
.bg-pills {
  background-color: $lighterGray;
  background: url('../images/ReX-pillpattern.png') no-repeat; /* fallback */
  background-image: url('../images/ReX-pillpattern.png'), linear-gradient(to bottom, $lightGray 10%, $lighterGray); /* W3C */
}

.bg-coral {
  background-color: $coral;
}

.bg-lava {
  background-color: $lava;
  color: #fff;
}

.bg-light-gray {
  background-color: $lightGray;
}

.bg-gray {
  background-color: $gray;
}

.bg-dark-gray {
  background-color: $medGray;
}

.bg-teal {
  background: linear-gradient($teal 10%, $darkTeal);
}

.bg-image {
  background: url('../images/father-child-laughing.jpg') no-repeat scroll 0% 50%;
  background-size: 100%;
  width: 100%;
}
