/** shades of red **/
$lava : #B2151B;
$scarlet : #ED1C24;
$coral : #F4777C;

/** shades of teal **/
$darkTeal : #007F76;
$teal : #00A99D;
$lightTeal : #66CBC4;

/** shades of gray **/
$gray : #B3B3B3;
$medGray : #CCCCCC;
$lightGray : #E6E6E6;
$lighterGray : #F7F7F7;



/* for fonts */
$fontGray : #4D4D4D;


