$placeholderColor: $gray;

button {
  outline: none;
}

.rex-input, .rex-button {
  border-radius: 6px;
  font-size: 1.2em;
  border: solid 1px $lightGray ;
}

.rex-input {
  padding: 18px 30px;
  height: auto;
  font-weight: 300;

  &::-webkit-input-placeholder {
    color: $placeholderColor;
  }
}

.rex-button {
  padding: 10px;
  background-color: $teal;
  border: solid 4px $teal;
  color: #fff;
  width: 100%;
  font-weight: 700;

  &:disabled {
    border-color: $gray;
    background-color: $gray;
    color: #fff;
    cursor: not-allowed;
  }

  &:disabled:hover {
    background: none;
    color: $gray;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $darkTeal;
    border-color: $darkTeal;
  }

  &.danger {
    background-color: $lava;
    border: solid 4px $lava;
    color: #fff;

  }
}
