$placeholderColor: $gray;

button {
  outline: none;
}

input[type="text"] {
  height: auto;
}

input[type="date"] {
  min-width: 250px;
}

input[type="date"]:before {
  content: 'Expiration Date' !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

input.ng-invalid-pattern {
  border: solid 1px red;
}

.rex-input, .rex-button {
  border-radius: 6px;
  font-size: 1.2em;
  border: solid 1px $lightGray ;

}

.rex-input {
  padding: 18px 30px;
  height: auto;
  font-weight: 300;

  &::-webkit-input-placeholder {
    color: $placeholderColor;
  }
}

.rex-button {
  padding: 10px;
  background-color: $teal;
  border: solid 4px $teal;
  color: #fff;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;

  &.ng-click-active {
    background-color: $darkTeal;
  }

  &:disabled {
    border-color: $gray;
    background-color: $gray;
    color: #fff;
    cursor: not-allowed;
  }

  &:disabled:hover {
    background: $gray;
    border-color: $gray;
  }

  &:hover,
  &:active {
    color: white;
    background-color: $darkTeal;
    border-color: $darkTeal;
  }

  &.danger {
    background-color: $lava;
    border: solid 4px $lava;
    color: #fff;

  }
}
