html, body {
  width: 100%;
  height: 100%;

}

/** layout stuff **/
.container-fluid {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
}

.page-top {
  padding-bottom: 50px;
}

/** hr shenanigans **/
hr {
  &.standard {
    margin: 0;
    border: solid 3px $lightGray;
  }

  &.thickest {
    border: solid 6px $lightGray;
    margin-top: 0;
  }

  &.small {
    width: 148px;
  }

  &.extra-margin-top {
    margin-top: 40px;
  }
}

// TODO: change to use media query variables
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
