/* ------ Media Queries -----*/
$lessThanBigScreen: "screen and (max-width: 1200px)";
$lessThanDesktop: "screen and (max-width: 992px)";
$lessThanTablet: "screen and (max-width: 767px)";
$lessThanSmall: "screen and (max-width: 500px)";

