.search-input{
  position: relative;
  .rex-input{
    margin: 20px 0;
  }
  button.search-icon{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 20px;
    top: 26px;
    background-color: transparent;
    border: 0;
    @extend .ic-searchbtn-55px;
  }

  .loader{
    position: absolute;
    bottom: -150px;
    left: 48%;
    z-index: 2;
  }
  .noResults{
    position: absolute;
    bottom: -150px;
    left: 42%;
    z-index: 2;
  }
}

@media #{$lessThanTablet} {
  .search-input {
    button.search-icon{
      top: 5px;
    }
  }
}
