<section class="search-input">
  <h2 class="text-teal">Add Drug</h2>

  <form name="searchForm" ng-submit="searchByName()">
    <div class="search-field">
      <label for="searchDrugName" class="sr-only">Search by drug name</label>

      <input role="search" autofocus tabindex="1" id="searchDrugName" class="form-control rex-input" ng-model="search.searchTerms" placeholder="Search by Brand Name">

      <button type="submit" class="search-icon" tabindex="-1"></button>
    </div>
  </form>

  <div class="loader" ng-show="showLoader" role="progressbar"></div>
</section>
