.search-input{
  border-bottom: solid 3px $lightGray;
  position: relative;
  .rex-input{
    margin: 20px 0;
  }
  button.search-icon{
    width: 65px;
    height: 72px;
    position: absolute;
    right: 26px;
    top: 22px;
    background-color: transparent;
    border: 0;
    @extend .icon-ic_search_48px;
  }

  .loader{
    position: absolute;
    bottom: -50px;
    left: 48%;
    z-index: 2;
  }
  .noResults{
    position: absolute;
    bottom: -150px;
    left: 42%;
    z-index: 2;
  }
}

@media #{$lessThanSmall} {
  .search-input {
    h1{
      text-align: center;
    }

  }
}

@media #{$lessThanTablet} {
  .search-input {
    button.search-icon{
      top: 0px;
    }
  }
}
