app-header {
  position: relative;
  z-index: 5;
  display: block;
}

// header styles
.app-header {
  height: 130px;
  position: relative;
  z-index: 100;

  .plus-button {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    position: absolute;
    top: 115px;
    bottom: -43px;
    z-index: 2;
    height: 60px;
    width: 60px;
    border: solid 4px white;
    right: 0;
    background-clip: padding-box;

    &.ng-enter,
    &.ng-leave.ng-leave-active {
      opacity: 0;
      transform: scale(.85);
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
  }

  .icon-logo-Rex {
    position: absolute;
    left: 50%;
    margin-left: -85px;
    top: 50%;
    margin-top: -40px;
  }

  .user-account {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -24px;

    .username {
      float: left;
      margin-top: 17px;
      color: #fff;
      margin-right: 10px;
    }
  }

  .sign-in{
    display: inline-block;
    right: 0;
    margin-left: 0;
  }



  // start custom state styles
  &.logged-in {
    .icon-logo-Rex {
      transition: all .3s;

      left: 0;
      margin-left: 0;
    }

    .user-account {
      display: inline-block;
      right: 0;
      margin-left: 0;
    }
  }
}

@media #{$lessThanTablet} {
  .app-header {
    height: 50px;

    .icon-logo-Rex {
      height: 50px;
      width: 104px;
      margin-top: -25px;
      margin-left: -52px;
    }

    .plus-button {
      top: 74px;
    }
  }
}
