// header styles
.app-header {

  .plus-button{
    position: absolute;
    top: 115px;
    bottom: -43px;
    z-index: 2;
    height: 60px;
    width: 60px;
    border: solid 4px white;
    right: 10%;
  }

  // Default header styles
  height: 130px;

  .icon-logo-Rex {
    transform: translateY(0);
    transition: all .2s;
    position: absolute;
    left: 50%;
    margin-left: -85px;
    top: 50%;
    margin-top: -40px;
  }

  .icon-ic-account-circle {

  }

  .user-account {
    transition: transform .2s;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -24px;
    transform: translateY(-100px);

    .username {
      float: left;
      margin-top: 17px;
      color: white;
      margin-right: 10px;
    }
  }

  // start custom state styles
  &.logged-in {
    .icon-logo-Rex {
      left: 0;
      margin-left: 0;
    }

    .user-account {
      transform: translateY(0);
    }
  }
}
