<app-section class="bg-teal" role="banner">
  <section class="app-header" ng-class="{'logged-in': user.data}">
    <a tabindex="0" class="icon-logo-Rex" ui-sref="{{homeRoute}}" title="ReX" alt="Rex">
      <span class="sr-only">Return to the Main Page</span>
    </a>

    <a class="user-account" ui-sref="main.userProfile">
      <rex-icon hash="user.data.gravatarHash" size="48"></rex-icon>

      <span class="username hidden-xs">Hi {{user.data.nickName}}!</span>
    </a>

    <button class="plus-button" ng-class="{'open': headerOptions.open}" ng-click="goTo()" ng-if="headerOptions.display">
      <span class="sr-only">{{headerOptions.open ? 'Go Back to the Cabinet' : 'Add Drug to Cabinet'}}</span>
    </button>
  </section>
</app-section>

