<div class="cabinet">
  <app-section class="bg-white">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-teal button-pad">My Drug Cabinet</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-7 col-sm-5 col-md-offset-8 col-md-4 col-xs-12">
        <label for="filterDrugName" class="sr-only">Filter by drug name</label>
        <input tabindex="1" id="filterDrugName" class="form-control rex-input" placeholder="Filter by Brand Name" ng-model="cabinet.filterText">
      </div>
    </div>
  </app-section>

  <app-section class="bg-pills drugs">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="(key,drug) in cabinet.drugs | filter:cabinet.filterText">
        <drug-card drug="drug" key="key" tabindex="{{$index+1}}"></drug-card>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="drug-card no-drug" ng-click="cabinet.search()" tabindex="{{cabinet.drugs.length+1}}">
          <card><h2 class="text-center">Add a Drug</h2>
            <div class="plus-button"></div>
          </card>
        </div>
      </div>
    </div>
  </app-section>
</div>
