.cabinet {
  h2 {
    text-align: left;
  }

  input.rex-input {
    display: inline-block;
  }
}

@media #{$lessThanSmall} {
  .cabinet {
    h2 {
      text-align: center;
    }

    input.form-control {
      width: 100%;
      margin: 10px 0;
    }

    .filter-label {
      display: none;
    }
  }
}
