<div class="cabinet">
  <app-section class="text-center bg-white">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="text-teal">My Drug Cabinet</h2>
      </div>

      <div class="col-sm-6">
        <label for="filterDrugName" class="sr-only">Filter by drug name</label>
        <input id="filterDrugName" class="form-control rex-input" placeholder="Filter by Drug Brand Name">
      </div>
    </div>
  </app-section>

  <app-section class="bg-lighter-gray drugs">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="drug in cabinet.drugs">
        <drug-card drug="drug"></drug-card>
      </div>

      <div class="col-sm-6 col-md-4" ui-sref="main.search">
        <div class="drug-card no-drug">
          <card ><h2 class="text-center bold">Add a Drug</h2><div class="plus-button"></div></card>
        </div>
      </div>
    </div>
  </app-section>
</div>
