.cabinet {
  .plus-button {
    margin: 25px auto;
    background-color: $medGray;
  }

  input.rex-input {
    display: inline-block;
    height: 40px;
    padding: 5px 15px;
  }

  .drugs {
    min-height: 390px;
  }

  .loader {
    margin-top: 9%;
  }

  .drug-card.no-drug .card {
    background: #fff;
    color: $gray;

    h2 {
      margin-top: 50px;
      line-height: 55px;
    }

  }
  .no-drug.ng-click-active {
    .card {
      background-color: $gray;
      color: #fff;
    }
  }
}

@media #{$lessThanSmall} {
  .cabinet {
    h2 {
      font-size: 2em;
      //Make room for add drug button at really small sizes.
      &.button-pad {
        padding-right: 60px;
      }
    }

    input.form-control {
      width: 100%;
      margin: 10px 0;
    }

    .filter-label {
      display: none;
    }
  }
}
