//TODO: RESPONSIVE STYLES
.cabinet {
  h2{
    text-align: left;
  }
  input.form-control{
    display: inline-block;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media #{$lessThanSmall} {
  .cabinet {

    h2{
      text-align: center;
    }
    input.form-control{
      width: 100%;
      margin: 10px 0;
    }
    .filter-label{
      display: none;
    }
  }
}
