<div class="loader" ng-show="!drugProfile.fieldsLoaded"></div>

<section class="uses" ng-show="drugProfile.fieldsLoaded">
  <h3>Indications and Usage</h3>

  <p>{{ drugProfile.drugData.indications_and_usage ? drugProfile.drugData.indications_and_usage[0] : 'No data available.' }}</p>

  <h3>Dosage and Administration</h3>

  <p>{{ drugProfile.drugData.dosage_and_administration ? drugProfile.drugData.dosage_and_administration[0] : 'No data available.' }}</p>

  <h3>Purpose</h3>

  <p>{{ drugProfile.drugData.purpose ? drugProfile.drugData.purpose[0] : 'No data available.' }}</p>
</section>
