<div class="login access-shared">
  <app-section class="text-center bg-white">
    <h2 class="boldest text-teal">Sign In</h2>
    <hr class="thickest">
  </app-section>

  <app-section class="bg-pills">
    <alert type="warning" ng-if="LoginCtrl.userInfo.username.$invalid">Username required</alert>

    <form class="form" name="LoginCtrl.userInfo" ng-submit="LoginCtrl.login()" novalidate>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <label class="sr-only" for="username">Username</label>

          <input autofocus
                 class="form-control rex-input"
                 id="username"
                 ng-model="LoginCtrl.userInfo.username"
                 placeholder="Email"
                 required
                 ng-disabled="LoginCtrl.loading"
                 type="email">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <label class="sr-only" for="inputPassword">Password</label>

          <input class="form-control rex-input"
                 id="inputPassword"
                 ng-model="LoginCtrl.userInfo.password"
                 placeholder="Password"
                 required
                 ng-disabled="LoginCtrl.loading"
                 type="password">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-3 col-sm-3">
          <button tabindex="3" type="submit" class="btn rex-button" ng-disabled="LoginCtrl.userInfo.$dirty && LoginCtrl.userInfo.$invalid">Sign In</button>

          <div class="loader" ng-if="LoginCtrl.loading"></div>
        </div>

        <!--<div class="col-sm-3 text-right">-->
        <!--<a href="#" class="text-teal forgot">Forgot Password</a>-->
        <!--</div>-->
      </div>

      <div class="row text-right sign-up">
        <div class="col-sm-offset-3 col-sm-6">Don't have an account yet? <a ui-sref="main.signUp" class="text-teal bolder">Sign up</a></div>
      </div>
    </form>
  </app-section>
</div>
