<div class="sign-up access-shared">
  <app-section class="text-center bg-white">
    <h2 class="boldest text-teal">Sign Up</h2>
    <hr class="thickest">
  </app-section>

  <app-section class="bg-pills">
    <form class="form" name="signUp.signUpForm" ng-submit="signUp.signUp()" novalidate>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <input type="text"
                 class="form-control rex-input"
                 id="firstName"
                 placeholder="First Name"
                 ng-model="signUp.userInfo.firstName"
                 required
                 ng-minlength="2"
                 ng-pattern="/^[a-zA-Z]*$/"
                 ng-disabled="signUp.loading"
                 name="firstName"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <input type="email"
                 class="form-control rex-input"
                 id="username"
                 placeholder="Email"
                 ng-model="signUp.userInfo.username"
                 required
                 name="email"
                 ng-disabled="signUp.loading"
                 ng-minlength="2">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <input type="password"
                 class="form-control rex-input"
                 id="inputPassword"
                 placeholder="Password"
                 ng-model="signUp.userInfo.password"
                 required
                 name="password"
                 ng-disabled="signUp.loading"
                 ng-minlength="6">
        </div>
      </div>
      <div class="row error-container" ng-show="signUp.showError">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="error" ng-show="signUp.signUpForm.firstName.$invalid">
            First name must be all letters and at least 2 characters long.
          </div>
          <div class="error" ng-show="signUp.signUpForm.email.$invalid">
            Email is required.
          </div>
          <div class="error" ng-show="signUp.signUpForm.password.$invalid">
            Password must be at least 6 characters.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-3 col-sm-3">
          <button type="submit" class="btn rex-button">Sign Up</button>

          <div class="loader" ng-if="signUp.loading"></div>
        </div>

        <div class="col-sm-3 text-right have-account">
          <div class="text-gray">Do you already have an account?&nbsp;</div>
          <a ui-sref="main.login" class="text-teal">Sign in</a>
        </div>
      </div>
    </form>
  </app-section>
</div>
