<div class="loader" ng-show="!drugProfile.fieldsLoaded"></div>

<section class="warnings" ng-show="drugProfile.fieldsLoaded">
  <div ng-if="drugProfile.otc">
    <h3>Do Not Use</h3>

    <p>{{ drugProfile.drugData.do_not_use ? drugProfile.drugData.do_not_use[0] : 'No data available.' }}</p>

    <h3>Warnings</h3>

    <p>{{ drugProfile.drugData.warnings ? drugProfile.drugData.warnings[0] : 'No data available.'
      }}</p>

    <h3>Ask a Doctor</h3>

    <p>{{ drugProfile.drugData.ask_doctor ? drugProfile.drugData.ask_doctor[0] : 'No data available.' }}</p>

  </div>

  <div ng-if="!drugProfile.otc">
    <h3>Warnings and Cautions</h3>

    <p>{{ drugProfile.drugData.warnings_and_cautions ? drugProfile.drugData.warnings_and_cautions[0] : 'No data available.' }}</p>

    <h3>Adverse Reactions</h3>

    <p>{{ drugProfile.drugData.adverse_reactions ? drugProfile.drugData.adverse_reactions[0] : 'No data available.'
      }}</p>

    <h3>Box Warning</h3>

    <p>{{ drugProfile.drugData.box_warning ? drugProfile.drugData.box_warning[0] : 'No data available.' }}</p>

    <h3>Overdosage</h3>

    <p>{{ drugProfile.drugData.overdosage ? drugProfile.drugData.overdosage[0] : 'No data available.' }}</p>

  </div>

</section>

