.user-profile {

  plus-button {
    margin-top: 12px;
  }

  .my-profile {
    display: inline-block;
    padding-left: 25px;

    h2 {
      margin-top: 0;
      margin-bottom: 15px;
    }

    p {
      font-size: 1.2em;
      color: $gray;
    }
  }

  .card-fade {
    padding: 60px 60px 100px 60px;

    .icon-ic-account-circle {
      @extend .icon-ic-account-gray;

      height: 200px;
      width: 200px;
    }

    rex-icon {
      float: left;
    }
  }
}

@media #{$lessThanSmall} {
  .user-profile {
    h1 {
      text-align: center;
    }

    .my-profile {
      display: inline-block;
      padding-left: 0;
    }

    .card-fade {
      padding: 20px 20px 100px 20px;
      text-align: center;

      rex-icon {
        margin: 0 auto;
        float: none;
      }

      .logout {
        height: auto;
        font-size: 1.2em
      }
    }
  }
}
