<section class="user-profile profile-shared">
  <app-section class="bg-white page-top">
    <h1>My Profile</h1>
  </app-section>

  <hr class="standard">

  <app-section class="bg-pills">
    <card-fade class="overlap clearfix">
      <rex-icon hash="MainCtrl.user.data.gravatarHash" size="175"></rex-icon>

      <div class="my-profile">
        <h2>{{UserProfile.userDetails.nickName}}</h2>

        <p>{{UserProfile.userDetails.email}}</p>

        <p>
          <md-checkbox class="md-primary" ng-model="UserProfile.userDetails.pregnant" aria-label="pregnancy" ng-change="UserProfile.updateUser()">
            Someone in my household is pregnant, breast feeding or may become pregnant.
          </md-checkbox>
        </p>

        <md-button class="md-raised md-warn" ng-click="UserProfile.logout()">Logout</md-button>
      </div>
    </card-fade>
  </app-section>
</section>
