.user-profile {

  plus-button {
    margin-top: 12px;
  }

  card {
    margin-bottom: 25px;
  }

  .my-profile {
    display: inline-block;
    padding-left: 25px;
    padding-top: 15px;

    h2 {
      margin-top: 0;
      margin-bottom: 15px;
    }

    p {
      font-size: 1.2em;
      color: $gray;
      margin-bottom: 0;
    }
  }

  .card-fade {
    .icon-ic-account-gray  {
      height: 200px;
      width: 200px;
    }
  }
}
