<section class="user-profile profile-shared">
  <app-section class="bg-white page-top">
    <h1>My Profile</h1>
  </app-section>

  <hr class="standard">

  <app-section class="bg-pills">
    <card-fade class="overlap clearfix">
      <rex-icon hash="MainCtrl.user.data.gravatarHash" size="175"></rex-icon>

      <div class="my-profile">
        <h2>{{UserProfile.userDetails.nickName}}</h2>

        <p>{{UserProfile.userDetails.email}}</p>
        
        <div class="row">
          <div class="col-xs-2 col-md-1 text-center"><input id="preg" type="checkbox" ng-model="UserProfile.userDetails.pregnant" aria-label="pregnancy" ng-change="UserProfile.updateUser()"></div>
          <div class="col-xs-10 col-md-11 text-left"><label for="preg">Someone in my household is pregnant, breast feeding or may become pregnant.</label></div>
        </div>

        <md-button class="md-raised md-warn" ng-click="UserProfile.logout()">Logout</md-button>
      </div>
    </card-fade>
  </app-section>
</section>
