// login styles
.access-shared {
  > section {
    padding: 30px;
    text-align: center;
    h1 {
      font-weight: 700;
    }
    hr {
      width: 120px;
      border-width: 10px;
      margin-top: 0px;
      border-color: $lightGray;
    }
  }

  form {
    background-color: $lighterGray;
    padding: 30px;

    input, button {
      margin: 10px 0;
    }

    a {
      display: block;
      text-align: right;
      color: $teal;
      padding-top: 25px;
    }
  }

}

@media #{$lessThanTablet} {
  .access-shared form a {
    text-align: center;
    padding-top: 15px;
  }
}
