// login styles
.access-shared {
  section {
    padding: 12px 0;

    hr {
      width: 120px;
    }
  }

  form {
    input, button {
      margin: 10px 0;
    }

    a {
      display: block;
      text-align: right;
      color: $teal;
      padding-top: 25px;
    }
  }

}

@media #{$lessThanTablet} {
  .access-shared form a {
    text-align: center;
    padding-top: 15px;
  }
}
