<md-dialog class="rex-modal">
  <md-dialog-content>
    <section class="rex-modal-header add-drug-modal">
      <h3 class="text-center text-teal bold">Delete Drug</h3>
      <p class="text-center bold text-gray ">Are you sure you want to remove this drug from your cabinet?</p>
    </section>

    <section class="rex-modal-body add-drug-modal">
      <form ng-submit="RemoveDrug.submitDrugForm()">
        <div class="form-group">
          <button type="submit" class="rex-button danger">Delete</button>

          <br><br>

          <a href="#" class="pull-right bold" ng-click="RemoveDrug.cancel()">Cancel</a>
        </div>
      </form>
    </section>
  </md-dialog-content>
</md-dialog>
