<md-dialog class="rex-modal">
  <md-content>
    <h2>Add <span class="text-teal">{{AddDrug.drug.name}}</span></h2>

    <form name="AddDrug.drugForm" ng-submit="AddDrug.submit()" novalidate>
      <div class="form-group">
        <label for="expirationDate" class="sr-only"></label>

        <input class="form-control"
               id="expirationDate"
               type="date"
               ng-model="AddDrug.drug.expirationDate"
               ng-change="AddDrug.checkDate()"
               placeholder="Exp Date: MM/DD/YYYY">
      </div>

      <div class="form-group">
        <button type="submit" class="rex-button" ng-disabled="AddDrug.dateDirty && !AddDrug.dateValid">ADD DRUG</button>

        <br><br>

        <a href="#" class="pull-right bold" ng-click="AddDrug.cancel()">Cancel</a>
      </div>
    </form>
  </md-content>
</md-dialog>