.back-button {
  margin-top: 10px;
  margin-bottom: 20px;

  .back-text {
    display: block;
    margin-left: 40px;

    &:before {
      content: '';
      position: absolute;
      margin-top: -8px;
      margin-left: -49px;
      @extend .icon-ic_arrow_back_24px;
    }
  }
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    a {
      color: $darkTeal;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
