.user-icon {
  display: inline-block;
  position:relative;

  .gravatar, .default {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  .default {
    z-index: 0;
  }

  .gravatar {
    z-index: 1;
  }
}