<div class="drug-card ">
  <card ng-class="{'recalled' : drug.recalled}" ng-click="goToDetails()">
    <!--<div class=" card-icon icon-ic_pillbottle-darkred"><div class="text-white recalled-text" ng-if="drug.recalled">RECALL</div></div>-->
    <div class=" card-icon icon-ic_pillbottle" ng-class="{'icon-ic_pillbottle-darkred' : drug.recalled}"><div class="text-white recalled-text" ng-if="drug.recalled">RECALL</div></div>
    <div class="text-font-gray bolder drug-name">{{drug.name}}</div>
    <div class="text-gray date" ng-class="{'expired' : expired }">Exp: {{drug.expirationDate | date : 'shortDate'}}</div>
  </card>
</div>
