<div class="drug-card ">
  <card ng-class="{'recalled' : drug.recalled}" ng-click="goToDetails()">
    <div ng-if="drug.recalled" class="icon-ic_pillbottle-darkred card-icon"><div class="text-white recalled-text" >RECALL</div></div>
    <div ng-if="!drug.recalled" class=" card-icon icon-ic_pillbottle"></div>
    <div class="text-teal bolder drug-name">{{drug.name}}</div>

    <div class="text-gray date" ng-class="{'expired' : expired }" ng-if="drug.expirationDate">Exp: {{drug.expirationDate | date : 'M/yyyy'}}</div>
  </card>
</div>
