.drug-card {
  display: block;

  .card {
    height: 320px;
    position: relative;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      border-color: $teal;
    }

    .card-icon {
      display: block;
      margin: 10px auto;
      height: 175px;
      width: 120px;
      position: relative;
    }

    .date {
      margin-top: 20px;
      position: absolute;
      bottom: 15px;
      left: 15px;
      &.expired {
        color: $scarlet;
      }
    }
  }

  card {
    margin: 20px auto;

    &.recalled {
      .card {
        background-color: $scarlet;
        border-color: $lava;

        .card-icon {
          width: 180px;
          position: relative;
        }

        .date, .drug-name {
          color: white;
        }
        .date {
          font-weight: 300;
        }

        .recalled-text {
          font-size: 4em;
          text-align: center;
          font-weight: 700;
          position: absolute;
          top: 25%;
          right: -15%;
        }
      }
    }
  }

  .ng-click-active .card {
    background-color: $gray;
  }

}

@media #{$lessThanSmall} {
  .drug-card {
    .card {
      height: auto;
      .card-icon {
        display: none;
      }
      .date{
        position: relative;
        left: 0;
        bottom: 0;
      }
    }

    card {
      &.recalled {
        .card {
          .card-icon {
            display: block;
            background: transparent;
          }
        }
      }
    }

  }
}
