card-fade {
  display: block;

  .card-fade {
    background: linear-gradient(to bottom, #fff 40%, rgba(255,255,255,0));
    border-top: solid $card-border-width $card-border-color;
    border-radius: $card-border-radius;
    padding: $card-border-width + $card-padding;
    position: relative;
    overflow: hidden;

    .card-content {
      position: relative;
      z-index: 1;
      border-radius: $card-border-radius;
    }

    &::before, &::after {
      content: "";
      position: absolute;
      display: block;
    }

    &::before {
      top: 0;
      left: 0;
      bottom: 0;
      width: $card-border-width;
      background: linear-gradient(to bottom, $card-border-color 40%, rgba(255,255,255,0));
      z-index: 0;
    }

    &::after {
      top: 0;
      right: 0;
      bottom: 0;
      width: $card-border-width;
      background: linear-gradient(to bottom, $card-border-color 40%, rgba(255,255,255,0));
      z-index: 0;
    }
  }
}
